.services {
    @media (max-width: $breakpoint-desktop) {
        height: 120vh;
    }
    .services_container {
        display: flex;
        flex-direction: column;
    .services_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1120px;
        @media (max-width: $breakpoint-desktop) {
            flex-direction: column;
            width: unset;
            gap: 2rem;
        }
        .services_icon {
            margin-top: 1rem;
        }
        .services_text {
            padding-top: 0;
            .description {
                text-align: justify;
            }
        }
    }
}
}