@import "../UI/variables.scss";

.projects {
    height: 150vh;
    @media (max-width:$breakpoint-desktop) {
        height: 180vh;
        margin-top: 30vh;
    }
    @media (max-width:$breakpoint-tablet) {
        margin-top: 20vh;
    }
    .container_projects {
        display: flex;
        flex-direction: column;
        align-items: center;

        .project_tags {
            display: flex;
            gap: 10px;
            justify-content: center;
            padding-bottom: 10px;
            @media (max-width: $breakpoint-smartphone) {
                width: 300px;
                flex-wrap: wrap;
            }
        }
        .project_items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 1200px;
            justify-content: space-evenly;
            row-gap: 25px;
            margin: auto;
            @media (max-width:$breakpoint-desktop) {
                flex-direction: column;
                width: unset;
            }
            [class^="project_settings"] {
                display: none;
                position: absolute;
                top: 2rem;
                right: 2rem;
                z-index: 1;
                width: max-content;
                background: $color2;
                opacity: 0.9;
            }
        }
    }
}

.project_dialog {
    background-color: $color2;
    .dialog_title {
        text-align: center;
    }
    .dialog_content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: $color5;
        font-weight: bold;
        .dialog_media {
            width: 800px;
        }
        .dialog_description {
            width: 550px;
        }
        .dialog_rows {
            display: flex;
            flex-direction: column;
        }
        .dialog_buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0.6rem;
            .button {
                font-weight: bold;
                color: $color5;
                transition: transform 0.2s;
            }
            .button_dark {
                color: $color0;
            }
            .button:hover {
                transform: scale(1.2);
            }
        }
        .dialog_tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            .tag {
                transition: transform 0.2s;
                color: $color5;
            }
            .tag_dark {
                color: $color0;
            }
            .tag:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
    .dialog_content_dark {
        color: $color0;
    }
}
.project_dialog_dark {
    background-color: $color4;
}

@media (max-width: $breakpoint-tablet) {
    .container-projects {
        height: 230vh;
        .projects {
            .projects__container {
                flex-direction: column;
            }
        }
    }
}
