@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:export {
  breakpointTablet: 768px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.header-title {
  flex-grow: 1;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .header-title {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
}

.header-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .header-toolbar {
    flex-direction: column;
    justify-content: center;
  }
}

.header-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .header-buttons {
    display: flex;
    flex-direction: row;
  }
}
.header-buttons .translate {
  color: #fff;
}
.header-buttons button {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .header-buttons button {
    margin-bottom: 0;
    margin-left: 10px;
  }
}

:export {
  breakpointTablet: 768px;
}

.banner__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  margin-top: 10%;
}

.container-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.container-banner .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-banner .banner .banner__text {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin-top: 10%;
  height: -moz-max-content;
  height: max-content;
}
.container-banner .banner .banner__text .banner__title {
  letter-spacing: 5px;
  font-family: monospace;
  width: 100%;
  height: 100px;
}
.container-banner .banner .banner__text .banner__subtitle {
  margin-top: 0;
}
.container-banner .banner__imagem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 260px;
  border-radius: 130px;
  border: 3px solid black;
}

@media (max-width: 768px) {
  .banner__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    padding-top: 20rem;
  }
  .container-banner {
    display: flex;
    flex-direction: column;
    height: 600px;
  }
  .container-banner .banner__text {
    margin-top: 0;
    margin-bottom: auto;
  }
  .container-banner .banner__container-image {
    flex-direction: column-reverse;
    min-width: 260px;
  }
  .container-banner .banner__container-image .banner__imagem {
    height: 240px;
  }
}
:export {
  breakpointTablet: 768px;
}

.container-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-skill .skill {
  align-items: center;
  width: 1000px;
  height: 570px;
}
.container-skill .skill .skill-list {
  display: flex;
  margin: auto;
  width: 60%;
  height: 16rem;
  justify-content: space-evenly;
  text-align: center;
}
.container-skill .skill .skill-list .skill-list__span {
  text-align: center;
  width: 150px;
}
.container-skill .skill .skill-list .skill-list__span .skill-list__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 16px;
  border: 2px solid black;
  margin-bottom: 1rem;
  list-style-type: none;
  transition: transform 0.2s;
}
.container-skill .skill .skill-list .skill-list__span .skill-list__text:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .container-skill .skill {
    width: 500px;
    height: 570px;
  }
  .container-skill .skill .skill__title {
    margin-bottom: 1rem;
  }
  .container-skill .skill .skill-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
  }
  .container-skill .skill .skill-list .skill-list__span {
    width: 8rem;
    padding-top: 0;
  }
}
:export {
  breakpointTablet: 768px;
}

.container-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 20rem;
}
.container-projects .projects {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  background: rgba(63, 104, 136, 0.8901960784);
  border-radius: 30px;
}
.container-projects .projects .projects__container {
  display: flex;
}
.container-projects .projects .projects__container .project {
  padding: 1rem;
  background: white;
  margin: 1rem;
  opacity: 0.88;
}
.container-projects .projects .projects__container .project .project__link {
  color: black;
  text-decoration: none;
  transition: font-size 0.2s;
}
.container-projects .projects .projects__container .project .project__link:hover {
  font-size: 1.08em;
}
.container-projects .projects .projects__container .project .project__image {
  max-width: 100%;
}

@media (max-width: 768px) {
  .container-projects {
    height: 230vh;
  }
  .container-projects .projects .projects__container {
    flex-direction: column;
  }
}
:export {
  breakpointTablet: 768px;
}

.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-contact .contact {
  background: rgba(63, 104, 136, 0.8901960784);
  border-radius: 30px;
  width: 80%;
}
.container-contact .contact .container-item {
  display: inline-block;
  width: 30%;
  border-radius: 30px;
  margin-bottom: 2rem;
}
.container-contact .contact .container-item .contact__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  color: black;
}
.container-contact .contact .container-item .contact__item .contact__text {
  padding-left: 1.2rem;
  color: black;
}
.container-contact .contact .container-item .contact__item .contact__text:visited {
  color: black;
}

@media (max-width: 768px) {
  .container-contact .contact .container-item {
    width: 80%;
  }
}
.container-return {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  border: 4px solid black;
  background: red;
}
.container-return .return {
  height: 46px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
}

:export {
  breakpointTablet: 768px;
}

footer {
  background: #808080;
}

:export {
  breakpointTablet: 768px;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: #808080;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}/*# sourceMappingURL=style.css.map */