@import '../../Components/Header/Header';
@import '../../Components/Hero/Hero';
@import '../../Components/Banner/Banner';
@import '../../Components/Skills/Skills';
@import '../../Components/Projects/Projects';
@import '../../Components/Info/Info';
@import '../../Components/Return/Return';
@import '../../Components/Experience/Experience';
@import '../../Components/Services/Services';
@import '../../Components/Education/Education';
@import '../../Components/Footer/Footer';

@import '../../Components/UI/globalStyle';