@import '../UI/variables.scss';

.info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        .info-list {
            display: inline-block;
            width: 30%;
            border-radius: 30px;
            margin-bottom: 2rem;
            .contact__item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0.8rem;
                color: black;
                .contact__text {
                    padding-left: 1.2rem;
                    color: black;
                }
                .contact__text:visited {
                    color: black;
                }
            }
        
    }
}

@media (max-width: $breakpoint-tablet) {
    .container-contact {
        .contact {
            .container-item {
                width: 80%;
            }
        }
    }
}