@import '../UI/variables.scss';

.info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
        .info_list {
            display: inline-block;
            margin-bottom: 2rem;
            .info_button {
                transition: transform .2s;
            }
            .info_button:hover {
                color: blue;
                transform: scale(1.2);
            }
            .contact__item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0.8rem;
                color: black;
                .contact__text {
                    padding-left: 1.2rem;
                    color: black;
                }
                .contact__text:visited {
                    color: black;
                }
            }
        
    }
}

@media (max-width: $breakpoint-tablet) {
    .container-contact {
        .contact {
            .container-item {
                width: 80%;
            }
        }
    }
}