.hero_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1400px;

    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 260px;
        border-radius: 130px;
        border: 3px solid black;
    }
    .text {
        text-align: justify;
    }

    .button {
        text-align: center;
    }
}