@import "../UI/variables";

.container_skill {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    .skill__title {
        // padding-top: 2rem;
    }
    .skill-list {
        display: flex;
        margin: auto;
        height: 16rem;
        justify-content: space-evenly;
        text-align: center;
        .skill-list__span {
            text-align: center;
            width: 150px;
            .skill-list__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
                padding-left: 2rem;
                padding-right: 2rem;
                border-radius: 16px;
                border: 2px solid black;
                list-style-type: none;
                transition: transform 0.2s;
            }
            .skill-list__text:hover {
                transform: scale(1.2);
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .container-skill {
        .skill {
            width: 500px;
            height: 570px;
            .skill__title {
                margin-bottom: 1rem;
            }
            .skill-list {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 90%;
                width: 100%;
                .skill-list__span {
                    width: 8rem;
                    padding-top: 0;
                    .skill-list__text {
                        // width: 8rem;
                    }
                }
            }
        }
    }
}
