@import '../UI/variables.scss';

.container_email {
    width: 80vw;
    margin: auto;
    .background_dialog {
        background-color: $color1;

        .dialog_content {
            .email_form {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                padding: 1rem;
                .form_fields {
                    display: flex;
                    flex-direction: column;
                    gap: 1.1rem;
                    .email_input {
                        width: 30rem;
                        color: $color5;
                        border-color: $color5;
                    }
                    .email_input_dark {
                        color: $color0;
                        border-color: $color0;
                    }
                    .button {
                        color: $color5;
                        border-color: $color5;
                        transition: transform .2s;
                    }
                    .button:hover {
                        transform: scale(0.9);
                    }
                    .button_dark {
                        background-color: $color1;
                    }
                }
            }
        }
    }
    .background_dialog_dark {
        background-color: $color4;
        color: white;
    }
}
