@import "../UI/variables.scss";
.about {
    @media (max-width: $breakpoint-tablet) {
        height: 200vh;
    }
    @media (max-width: $breakpoint-smartphone) {
        margin-bottom: 20rem;
    }
    .container_about {
        display: flex;
        width: min(80%, 800px);
        margin: auto;
        background-color: $color1;
        @media (max-width: $breakpoint-desktop) {
            margin-top: 2rem;
        }
        @media (max-width: $breakpoint-tablet) {
            margin-top: 6rem;
        }
        @media (max-width: $breakpoint-smartphone) {
            margin-top: 10rem;
        }
        .about_content {
            text-align: justify;
            .about_presentation {
                text-align: center;
            }
            .button {
                color: black;
                background: $color2;
                margin-right: 0.5rem;
                transition: transform 0.2s;
            }
            .button:hover {
                transform: scale(1.1);
            }
        }
    }
}
