@import "../UI/variables.scss";
.about {
    height: max-content;
    min-height: 100vh;
    .container_about {
        display: flex;
        width: min(80%, 800px);
        margin: auto;
        margin-bottom: 5rem;
        
        .about_content {
            text-align: justify;
            .about_header {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                gap: 0.3rem;
                margin-bottom: 1rem;
                .about_title {
                    margin-block: 0;
                }
                .about_subtitle {
                    margin-block: 0;
                    font-style: italic;
                }
            }
            .about_text {
                margin: 1rem;
            }
            .button {
                color: black;
                background: $color2;
                margin-right: 0.5rem;
                transition: transform 0.2s;
            }
            .button:hover {
                transform: scale(1.1);
            }
        }
        .about_content_dark {
            color: white;
        }
    }
}
