@import '../UI/variables.scss';

.container_about {
    display: flex;
    width: 800px;
    background-color: $color1;
    .about_content {
        text-align: justify;
        .about_presentation {
            text-align: center;
        }
        .button {
            color: black;
            background: $color2;
            margin-right: .5rem;
            transition: transform .2s;
        }
        .button:hover {
            transform: scale(1.1);
        }
    }
}