@import "../UI/variables.scss";

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    .header_appbar {
        display: flex;
        flex-direction: row;
        background-color: $color5;
        @media (max-width: $breakpoint-smartphone) {
            height: 100px;
        }
        @media (max-width: $breakpoint-smartphone) {
          padding-top: 100px;
          height: unset;
        }
        .header-toolbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            min-height: unset;
            .header_title {
                @media (max-width: $breakpoint-smartphone) {
                    position: absolute;
                    right: 15px;
                    top: -90px;
                }
            }
            .header_menu {
                display: none;

                @media (max-width: $breakpoint-header) {
                    margin: auto;
                    position: unset;
                    right: unset;
                    top: unset;
                }
                @media (max-width: $breakpoint-smartphone) {
                    position: absolute;
                    right: 0;
                    top: -50px;
                }
            }
            .header-buttons {
                display: flex;
                gap: 0.3rem;
                align-items: center;
                @media (max-width: $breakpoint-header) {
                    display: none;
                    flex-direction: column;
                }
                @media (max-width: $breakpoint-smartphone) {
                  
                }
                .button {
                    color: white;
                    border-color: white;
                    transition: transform 0.2s;
                    min-width: max-content;
                    @media (max-width: $breakpoint-header) {
                        width: 8rem;
                    }
                }
                .button:hover {
                    transform: scale(0.9);
                }
            }
        }
        .header_language {
            position: absolute;
            left: 0;
            top: 12px;
            z-index: 1;
            #demo-select-small {
                color: white;
            }
            @media (max-width: $breakpoint-smartphone) {
                right: unset;
                left: 18px;
                top: 7px;
            }
        }
        .header_nightmode {
            position: absolute;
            right: 0;
            top: 12px;
            @media (max-width: $breakpoint-smartphone) {
                right: unset;
                left: 0px;
                top: 50px;
            }
        }
    }
}
