@import '../UI/variables';

.container-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .skill {
        height: max-content;
        background-color: $marine;
        border-radius: 30px;
        width: 80%;
        .skill-list {
            
            display: flex;
            margin: auto;
            width: 80%;
            height: 16rem;
            justify-content: space-evenly;
            text-align: center;
            padding: 0 15px 0 15px;
            .skill-list__span {
                text-align: center;
                padding-top: 2rem;
                .skill-list__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.4rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    background: $pink;
                    border-radius: 16px;
                    border: 2px solid black;
                    margin-bottom: 1rem;
                    list-style-type: none;
                    transition: transform .2s;
                }
                .skill-list__text:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .container-skill {
        height: 130vh;
        .skill {
            height: 80%;
            .skill__title {
                margin-bottom: 1rem;
            }
            .skill-list {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 90%;
                .skill-list__span {
                    padding-top: 0;
                    .skill-list__text {
                        width: 4rem;
                    }
                }
            }
        }
    }
}