@import '../UI/variables.scss';

.banner__card {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    margin-top: 10%;
}


.container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .banner__text {
            display: inline-block;
            flex-direction: column;
            align-items: center;
            text-align: justify;
            margin-top: 10%;
            height: max-content;

            .banner__title {
                letter-spacing: 5px;
                font-family: monospace;
                width: 100%;
                height: 100px; // Adicionar esta linha para definir uma altura fixa
            }

            .banner__subtitle {
                margin-top: 0; // Garantir que não haja margem superior
            }

        }
    }

    .banner__imagem {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 260px;
        border-radius: 130px;
        border: 3px solid black;
    }
}

@media (max-width: $breakpoint-tablet) {
    .banner__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 130vh;
        padding-top: 20rem;
        margin-top: 5%;
    }

    .container-banner {
        display: flex;
        flex-direction: column;
        height: 850px;

        .banner__text {
            margin-top: 0;
            margin-bottom: auto;
        }

        .banner__container-image {
            flex-direction: column-reverse;
            min-width: 260px;

            .banner__imagem {
                height: 240px;
            }
        }
    }
}