@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './variables.scss';
$background-img: url('../../Assets/Images/5172658.jpg');

@font-face {
    font-family: Garet;
    src: url('./Garet-Book.ttf') format('truetype');
    font-weight: normal;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    width: 100vw;
    max-width: 100%;
    font-family: Garet;
}

* {
    font-family: Garet;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

body {
    background: $grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}