$dark-blue: #0B1D51e3; //#16213ee3;
$marine: #0f3460e3;
$blue: #3f6888e3;
$purple: #797596c4;
$pink: #E94560;
$grey: #808080;
$white: #ffffff52;

$breakpoint-tablet: 768px;

:export {
  breakpointTablet: $breakpoint-tablet;
}